body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.topnav, .navbar-right {
    font-size: 16px;
    color: #000000 !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff !important;
  /*background-color: transparent !important;*/
}

.navbar-inverse .navbar-nav > li > a {
  color:#000000 !important;
}

.navbar-fixed-top {
  border-width: 0 0 0 !important;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse {
    background-color: rgba(63, 115, 224, 0.85);
  }
  .navbar-header .navbar-collapse {
    background-color: rgba(63, 115, 224, 0.85);
  }
}


.navbar {
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

.navbar.scrolled {
    opacity: 0.95;
    /*IE*/
    background: #3f73e0 !important;
    /*NON-IE */
    background: rgba(#3f73e0, 0.78) !important;
}

body > div:nth-child(5) > div > div > div:nth-child(1) > h3 {
  margin-right: -8%;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
   position: relative;
   /*background: #5C97FF;*/
   overflow: hidden;
}

.intro-header:before {
    content: '';
    display: block;
    position: absolute;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */idation
    padding-bottom: 50px;
    text-align: center;
    color: #3f73e0;
    background: url(../img/city-view.jpg) no-repeat center center;
    background-size: cover;
    /*z-index: 5;*/
    width: 100%;
    height:100%;
    opacity: 0.5;
}

/*#3f73e0*/
.intro-message {
    position: relative;
    padding-top: 25%;
    padding-bottom: 28%;
    text-align: center;
}

.intro-message > h1 {
    margin: 0;
    font-size: 4.5em;
    text-align: center;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.img-responsive {
  margin: 0 auto;
}

.caption {
  margin: 10% 8% ;
  text-align: center;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 4em;
  margin: 20px auto 40px auto;
  text-align: center;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

.card-text {
  margin: 20% auto;
}
.card-text h4{
  margin: 40px auto !important;
  text-align: justify;
  line-height: 1.5;
}

.card-text h1 {
  text-align: center;
  margin: 5% auto;
}

.intro-video > h1 {
  text-align: center;
  margin: 5% auto;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.affix {
    top: 20px;
  }

@media screen and (min-width: 1280px) {
    .transform {
      transform:translateX(-120%);
}
